---
layout: base.njk
title: このサイトについて — 安普請
nav: about
permalink: /about/
---
<article class="entry">
  <h1 class="entry-title">このサイトについて</h1>
  <div class="entry-body">
    <p>素寒貧（サークル名：衣食住不十分）の過去作品をまとめているサイトです。</p>
    <p>今後オフラインイベントへの参加予定はありません。</p>
    <p>現在は<a href="https://misskey.yukineko.me/@karakketsu">misskey</a>で呟いたり、極稀に小説を書いています。</p>
    <p>基本はVtuberのオタクをやりつつ、ドラマ、アニメ、映画、本、漫画などなど、広く浅く触れています。</p>
  </div>
</article>
